<div class="container mt-5">

    <div class="w-50">

           <div class="alert alert-secondary m-2 p-1 border rounded-pill " *ngFor="let t of transactions">

                <div class="d-flex justify-content-evenly">
                    <div>{{t.title}}</div>
                    <div>{{t.category}}</div>
                    <div>{{t.type}}</div>
                    <div>{{t.amount}}</div>
                </div>
                <div class="d-flex justify-content-center mt-2 gap-3">
                   <button class="btn btn-outline-warning rounded-pill" (click)="emitTransactionid(t.id)">Edit</button>
                   <button class="btn btn-outline-danger rounded-pill" (click)="deleteTransaction(t.id)">delete</button>
                    
                </div>

           </div>

    </div>
</div>